/*
	Fonts and resets
						*/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: #6DA46D;
	background-image: url('../img/circuit.svg');
	font-family: Helvetica, Arial, sans-serif;
}

#background-images {
	z-index: -1337;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin-top: 200px;
	overflow: hidden;
}

header {
	background: #F5F5F5;
	margin-bottom: 1em;
	box-shadow: 0 5px 0 rgba(0,0,0,.15);
	font-size: 1.75em;
}

header .logo{
	display: block;
	padding: .75em 0;
	width: 70%;
	margin: 0 auto;
	background: center no-repeat;
	background-image: url('../img/logo.png');
	background-size: 70%;
}

header .logo-svg { background-image: url('../img/logo.svg'); }

header .logo h1{ text-indent: -2345px; }

header .logo:hover { opacity: .8; }

.event-banner{
	width: 100%;
	background: #3D3D3D;
	color: #FFF;
}

.event-banner a{
	display: block;
	padding: .75em;

	font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: #FFF;
	
	text-align: center;
	text-decoration: none;
}

.event-banner a::after{
	margin-left: .25em;
	content: '↗';

	font-weight: 500;
}

.event-banner a:hover{
	background: rgba(255,255,255,.1);
}

main {
	width: 70%;
	margin: 0 auto;
}

.archive,
.text-section {
	box-shadow: 0  5px 0 rgba(25, 25, 25, 0.2);
}

/* 
	event section
					*/

.top,
.content,
.previous,
.archive,
.text-section {
	border-bottom: 5px solid rgba(25, 25, 25, 0.2);
}

.top,
.previous {
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	background: rgb(41, 41, 41);
}

.top {
	padding: .75em 1em;
}

.top h1 {
	letter-spacing: .5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
	font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
	color: #f5f5f5;
}

.content {
	overflow: hidden;
	background-color: #f5f5f5;
}

.content ol, .content ul{
	list-style-position: inside;
	padding-bottom: .5em;
}

.content ul li{ list-style: inside square; }

.talks{ padding-top: .5em; }

.talks .links li{ margin-left: 1em; }
.talks .links li a:hover{ border-color: #C24545; }

.content .row {
	overflow: hidden;
	padding: 15px;
	border-bottom: 2px solid rgba(25, 25, 25, 0.1);
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: rgba(0,0,0,.85);
}

.content .row:last-child {
	border: none;
}

.content .info-col a{
	color: inherit;
	text-decoration: none;
	font-style: italic;
	border-bottom: 2px solid transparent;
}

.content .info-what a:hover{	
	border-bottom: 2px solid #5A8F53;
	-webkit-transition: border-color .1s;
			transition: border-color .1s;
}

.content .info-col h1,
.content .info-col h2,
.content .info-col h3{
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
}

.crawlroute{
	list-style: decimal inside;
	font-size: 1.25em;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	color: #1F1F1F;
	text-transform: uppercase;
	padding: .5em 0;
}

.crawlroute li{ padding: .25em 0; }

.crawlroute li span{ color: #7C755A; }

.content .info-map {
	display: none;
	position: relative;
	padding: 0;
}

.content .info-map #map {
	height: 250px; /* fallback */
	height: 45vh;
}

/* leaflet map overides */

.leaflet-bar {
	border: none;
}

.leaflet-popup-content-wrapper {
	text-align: center;
}

.leaflet-bar,
.leaflet-bar-part-top,
.leaflet-bar-part-bottom,
.leaflet-popup-content-wrapper {
	border-radius: 0px !important;
}

.leaflet-bar,
.leaflet-control-attribution .leaflet-control,
.leaflet-control-attribution,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	box-shadow: none;
}

.leaflet-bar-part-top,
.leaflet-bar-part-bottom {
	color: #414141;
}

.leaflet-popup-content {
	overflow: hidden;
	width: 150px;
}

.leaflet-container .leaflet-control-zoom {
	border: 2px solid rgba(0, 0, 0, 0.25);
	opacity: 0;
	-webkit-transition: opacity .25s;
			transition: opacity .25s;
}

.leaflet-container:hover .leaflet-control-zoom,
.leaflet-container:hover .leaflet-control-attribution {
	opacity: 1;
}

.leaflet-container .leaflet-control-zoom a {
	color: #3D3D3D;
}

.leaflet-container .leaflet-control-attribution {
	opacity: 0;
	box-shadow: none;
	background-color: rgba(41,41,41,.75);
	color: #F5F5F5;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	-webkit-transition: opacity .25s;
			transition: opacity .25s;
}

.leaflet-control-attribution a {
	color: #ECEC9A;
	text-decoration: none;
}

.leaflet-popup-content a {
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	color: #414141;
	text-decoration: none;
}

.leaflet-popup-content a:hover {
	border-bottom: 2px solid;
}

.leaflet-control-zoom-in{ border-bottom: 1px solid #AAA !important; }
.leaflet-control-zoom-out{ border: none !important; }

.leaflet-control-zoom-fullscreen {
	border-top: 1px solid #AAA;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url(../img/icon-fullscreen.png);
}

.leaflet-control-zoom a:hover {
	background-color: #FFF;
}

.leaflet-container:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.content .row:last-child {
	border: none;
}

.content .info-what {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #474747;
	background: #E4E4E4;
}

.content .col {
	float: left;
}

.content .info-what .col {
	overflow: hidden;
	padding: 0 .75em;
}

.content .info-what .col p{
	line-height: 1.45;
	padding-bottom: .5em;
}

.content .info-what .col p.twilio{
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	float: right;
	margin-top: 1em;
	width: 80%;
	text-align: center;
	font-size: 1.25em;
	text-transform: uppercase;
}

.content .info-what .col p.twilio a{
	display: block;
	height: 60px;
	width: 100%;
	background: url('../img/events/twilio.png') center no-repeat;
	background-size: contain;
	text-indent: -1337px;
}

.content .info-what .info-col{
	width: 80%;
	padding-right: 2em;
}

.content .info-what .info-col .event-image{
	margin: 0 auto;
	float: right;
}

.content .info-what .info-col .event-image-right,
.content .info-what .info-col .event-image-left{ margin: .5em; }

.content .info-what .info-col .event-image-right{ float: right; }
.content .info-what .info-col .event-image-left{ float: left; }

.content .info-what .links-col {
	width: 20%;
	padding-right: .75em;
}

.content .info-what .links-col a{
	float: right;
	height: auto;
	border: none;
}

.links-col a.social-button{	
	margin-bottom: 10%;
	padding: .5em .75em;
	padding-left: 2em;
	background-size: 35%;
	background-position: left bottom;
	color: #f5f5f5;
	font-size: 1.5em;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
}

.links-col a.eventbrite{
	background-size: 30%;
	background-position: left center; 
}

.links-col a#brewhouse{
	margin: 0 auto 5%;
	text-indent: -5432px;
	width: 45%;
	height: 120px;
	background: url('../img/events/brewhousekitchen.png') no-repeat center right;
	background-size: 100%;
}

.links-col a#brewhouse:hover{ opacity: .9; }

.content .q {
	text-align: right;
	width: 20%;
	padding: 0 .5em;
	font-weight: 700;
	color: #629362;
}

.content .a {
	text-align: left;
	width: 80%;
	padding: .13em .5em;
	font-weight: 600;
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(29, 29, 29);
}

.content .a .note{
	margin-left: .5em;
	font-size: .75em;
	color: rgba(0, 0, 0, 0.75);
}

.more-info {
	margin-left: 1em;
	padding: 0 5px;
	text-transform: uppercase;
	font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
	font-size: .5em;
	display: inline-block;
	color: #222;
	text-decoration: none;
	border-bottom: 3px solid #CFC679;
	-webkit-transition: border-color .1s;
			transition: border-color .1s;
}

.more-info:hover {
	border-color: #DDD;
}

.ordinal-suffix {
	font-size: .5em;
	vertical-align: super;
}

.talks li{
	list-style: none;
	padding-bottom: .5em;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
}

.talks .talk-title{
	color: #242424;
	font-weight: 700;
}

.talks .talk-title::before,
.talks .talk-title::after{ color: #474747; }

.talks .talk-title::before{ content: '“'; margin-right: .15em; }
.talks .talk-title::after{ content: '”'; margin-left: .15em; }

.talks a.talk-speaker,
.talks span.talk-speaker{
	color: #242424;
	font-style: normal;
	border-bottom: 2px solid #5A8F53;
	text-decoration: none;
	-webkit-transition: border-color .1s;
			transition: border-color .1s;
}

.talks a.talk-speaker:hover{
	border-bottom-color: #79AC79;
}


.talks span.talk-speaker{
	border-bottom-color: #aaa;
}

.previous {
	color: #f5f5f5;
	height: 3.5em;
}

.previous p,
.previous .meetings {
	float: left;
	height: 100%;
}

.previous p {
	font-size: 10px;
	letter-spacing: 5px;
	width: 20%;
	text-transform: uppercase;
	font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
	padding: 1.5em 2.5em;
	overflow: hidden;
}

.previous p.more {
	display: block;
	text-align: right;
	-webkit-transition: background .1s;
			transition: background .1s;
}

		.previous p.more a{
			padding-left: 5px;
			display: inline-block;
			color: #F5F5F5;
			text-decoration: none;
			border-bottom: 2px solid #8A8585;
			-webkit-transition: border-color .1s;
					transition: border-color .1s;
		}

		.previous p.more:hover a{
			border-color: #CFC679;
		}

	.previous .meetings{
		color: #F5F5F5;
		padding: 10px;
		width: 20%;
		text-align: right;
		text-decoration: none;
		border-right: 2px solid rgba(255,255,255,.05);
		font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
		-webkit-transition: background .1s;
				transition: background .1s;

	}

.previous p.more:hover a {
	border-color: #CFC679;
}

.previous .meetings {
	padding: 10px;
	width: 20%;
	text-align: right;
	border-right: 2px solid rgba(255,255,255,.05);
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	-webkit-transition: background .1s;
			transition: background .1s;
}

.previous p.more:hover,
.previous .meetings:hover {
	background: rgba(255,255,255,.05);
	cursor: pointer;
}

.previous .meetings:last-child {
	border: none;
	padding: 0;
}

.previous .meetings h2 {
	font-size: .8em;
}

.previous .meetings h3 {
	color: rgb(175, 175, 175);
	font-size: 0.7em;
	font-weight: 500;
}

/*
	archive
			*/

.archive {
	overflow: hidden;
	padding: 1em 0;
	background: rgb(41, 41, 41);
}

.archive .meeting {
	padding: 1em 0;
	background: rgb(41, 41, 41);
}

.archive .meeting:nth-child(odd) {
	background: #242424;
	border-top: 5px dashed #292929;
	border-bottom: 5px dashed #292929;
}

.archive .event-name,
.archive .details {
	overflow: hidden;
}

.archive .event-name {
	display: block;
	padding: .5em 0;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	text-align: left;
}

.archive .event-name:focus,
.archive .event-name:focus + .details {
	background: rgba(100, 100, 100, 0.25);
	outline: none;
}

.archive .event-name time,
.archive .event-name h1,
.archive .event-name h2 {
	float: left;
}

.archive .event-name time{
	padding: 0 1em;
	text-align: right;
	color: #79A6CF;
	text-transform: uppercase;
	width: 20%;
	font-size: .75em;
}

.archive .event-name h1 {
	width: 50%;
	color: #F5F5F5;
	font-size: 1em;
	padding: 0 1em;	
	-webkit-transition: opacity .1s;
			transition: opacity .1s;
}

.archive .event-name h2 {
	width: 20%;
	color: #CCC163;
	font-size: 0.7em;
	font-weight: 500;
}

.archive .event-name .show-desc {
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	padding: 0 1em;
	font-size: .75em;
	text-decoration: none;
	width: 10%;
	float: right;
	-webkit-transition: opacity .1s;
			transition: opacity .1s;
}

.archive .event-name:hover{cursor: pointer; }

.archive .event-name:hover h1{ opacity: .8 }

.archive .event-name:hover .show-desc { opacity: .8; }

.archive .details .col {
	width: 20%;
	float: left;
	padding: 0 1em;
}

.archive .details .col .note{ font-size: .65em; }

.archive .details .info { text-align: right; }

.archive .details .desc {
	width: 80%;
}

.archive .details .desc h3{
	color: #CCCBCB;
	text-transform: uppercase;
	padding-top: .25em;
}

.archive .details .desc .crawlroute{
	color: #E7E7E7;
}

.archive .details .desc .event-image{
	float: right;
	width: 10%;
	margin: 1em;
}

.archive .details .info .facebook,
.archive .details .info .eventbrite{
	width: 65%;
	margin: .25em 0;
	float: right;
	text-indent: -9999px;
	height: 40px;
	border: none;
}

.archive .details .info .eventbrite{
	background-position: 100% 50%;
}

.archive .details .info .facebook:hover,
.archive .details .info .eventbrite:hover{ border: none; }

.archive .details .desc .talks li,
.archive .details .desc .talk-title {
	color: #C9C9C9;
}

.archive .details .desc .talk-speaker{
	color: #CF7979;
	border: none;
}
.archive .details .desc .talk-speaker:hover{ border: none; }

.archive .details .desc .talks .links{ margin-bottom: 1em; }

.archive .details .desc .talks .links li{
	margin-left: 3em;
	list-style: square;
}

.archive .details .col p,
.archive .details .col ul li {
	padding: .2em 0;
	line-height: 1.45;
	font-size: 0.8em;
	color: #ADADAD;
}

.archive .details .col ul li {
	list-style: none;
}

.archive .details .col a{
	color: inherit;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted #5F5F5F;
	-webkit-transition: border-color .1s;
			transition: border-color .1s;
}

.archive .details .col a:hover{	
	border-bottom: 1px solid #5A8F53;
}

.text-section {
	margin: 1em 0;
	padding: 1em .5em;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	overflow: hidden;
	color: #2c2c2c;
	background-color: #f5f5f5;
}

.text-section p{
	font-weight: 500;
	font-size: 1.15em;
	line-height: 1.25;
	padding: .25em 1em;
	margin: 0 auto;
	max-width: 40em;
}

.social {
	padding-bottom: 5px;
	overflow: hidden;
	margin: 30px 0;
}

.social .social-button-wrapper {
	width: 15%;
	float: left;
	padding-right: 10px;
	display: inline-block;
}

.social-button {
	display: block;
	font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: .5em 0;
	box-shadow: inset 0 -5px 0 rgba(25,25,25,.25), 0 5px 0 rgba(25,25,25,.25);
}

.social-button:hover {
	-webkit-transition: .1s;
			transition: .1s;
	-webkit-transform: translateY(5px);
		-ms-transform: translateY(5px);
			transform: translateY(5px);
	box-shadow: inset 0 -5px 0 rgba(25,25,25,.25);
}

.social-button:active {
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.social .join-us {
	padding: 0 0 0 2em;
	width: 55%;
}

.social .social-button{
	text-indent: -5000px;
}

.social .join-us .social-button {
	text-indent: 0;
	background: #79DA4C;
	color: #2A5218;
}

.facebook,
.twitter,
.github,
.eventbrite {
	overflow: hidden;
	background: no-repeat center;
	background-size: 80%;
}

.eventbrite {
	background-image: url('../img/eventbrite.png');
	background-color: #ff821d;
	background-position: 5% 0;
}
.eventbrite-svg { background-image: url('../img/eventbrite.svg'); }


.facebook {
	background-image: url('../img/facebook.png');
	background-color: #3B5998;
}
.facebook-svg { background-image: url('../img/facebook.svg'); }

.twitter {
	background-image: url('../img/twitter.png');
	background-color: #4099FF;
}
.twitter-svg { background-image: url('../img/twitter.svg'); }

.github {
	background-image: url('../img/github.png');
	background-color: #333;
}
.github-svg { background-image: url('../img/github.svg'); }

/*
	footer
			*/

footer {
	width: 100%;
	background: rgb(41, 41, 41);
}

/* Media queries */

@media (min-width: 1400px) {
	
	header .logo{ background-size: 50%; }

}

@media (max-width: 1000px) {

	.content .info-what .links-col a {
		padding: .5em;
		background-image: none;
		float: none;
		margin-bottom: 1em;
	}

	.links-col a#brewhouse{
		width: 70%;
	}

	.previous .meetings h2 {
		font-size: .7em;
	}

}

@media (max-width: 900px) {

	header .logo,
	main{
		width: 80%;
	}

	.top,
	.content .q,
	.content .a,
	.social {
		font-size: .75em;
	}

	.previous .meetings {
		display: block;
	}

	.previous .meetings:nth-child(3) {
		display: none;
	}

	.previous p,
	.previous .meetings {
		width: 25%;
	}

}

@media (max-width: 700px) {

	header .logo,
	main {
		width: 90%;
	}

	header .logo {
		background-size: 80%;
		padding: .25em 0;
	}

	.text-section p { font-size: 1em; }
	
	.content .q,
	.content .a,
	.content .info-what .links-col {
		padding: 0;
		width: 100%;

		text-align: center;
	}

	.content .info-what .info-col {
		width: 100%;
		padding: 0 1em;
		
		border: 0;
	}

	.links-col a#brewhouse {
		width: 100%;
	}

	.content .info-what .info-col .event-image {
		width: 75px;
	}

	.previous .meetings {
		display: none;
	}

	.previous .meetings:nth-child(2) {
		display: block;
	}

	.previous p,
	.previous .meetings {
		width: 33%;
	}

	.archive .event-name time { width: 25%; }
	.archive .event-name h1 { width: 55%; }
	.archive .event-name h2 { width: 20%; }
	.archive .event-name .show-desc { display: none; }

	.archive .details .col { width: 25%; }
	.archive .details .desc { width: 75%; }

}

@media (max-width: 500px) {

	#background-images {
		display: none;
	}

	header .logo{ padding: 0; }
	
	header .logo,
	main {
		width: 100%;
	}

	.leaflet-container .leaflet-control-zoom,
	#map .leaflet-control-attribution {
		opacity: 1;
	}

	.more-info{ font-size: .7em; }

	.content .a .note{ display: none; }

	.previous .meetings:nth-child(2) {
		display: none;
	}

	.previous p {
		display: none;
	}

	.previous .more {
		display: block;
		width: 100%;
	}

	.previous p.more a {
		display: block;
		width: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.archive .event-name time { font-size: .6em; }

}