---
layout: default
---

<main>

	<section class="text-section">
		<p>{{ site.description }}</p>
	</section>

	{% include social.html %}

	<article class="event">

		<section class="top">
			<h1>What's Up?</h1>
		</section>

		<section class="content">

			{% for post in site.posts limit:1 %}

			<div class="row">
				<div class="col q">What?</div>
				<div class="col a">{{ post.title }}</div>
			</div>

			<div class="row info-what">

				<div class="links-col col">

					{% if post.eventbrite %}
					<a href="{{ post.eventbrite }}" class="eventbrite social-button">Sign Up</a>
					{% endif %}

					{% if post.facebook %}
					<a href="{{ post.facebook }}" class="facebook social-button">RSVP</a>
					{% endif %}

				</div>

				<div class="info-col col">
					{{ post.content }}
				</div>

			</div>

			<div class="row">
				<div class="col q">Where?</div>
				<div class="col a">{{ post.place | join: ', ' }}</div>
			</div>

			<div class="row">
				<div class="col q">When?</div>
				<div class="col a">{{ post.date | date: "%F" }}<span class="note">{{ post.date | date: "%R" }}</span></div>
			</div>

			{% endfor %}

		</section> <!-- end of .content -->

		<section class="previous">

			<p>Previous:</p>

			{% for post in site.posts offset:1 limit:3 %}

			<a class="meetings" href="#{{ post.hash }}">
				<h2>{{ post.title | truncate: 16 }}</h2>
				<h3><time title="{{ post.date | date: '%c' }}" datetime="{{ post.date | date: '%FT%RZ' }}">{{ post.date | date: "%D"}}</time></h3>
			</a>

			{% endfor %}

			<p class="more"><a href="#">Archive</a></p>

		</section> <!-- end of .previous -->

	</article>

	<article class="archive">

		{% for post in site.posts offset:1 %}

		<section class="meeting">

			<a class="event-name" id="{{ post.hash }}" href="#{{ post.hash }}">

				<time title="{{ post.date | date: '%c' }}" datetime="{{ post.date | date: '%FT%RZ' }}">{{ post.date | date: "%D" }}</time>
				<h1>{{ post.title }}</h1>
				<span class="show-desc">More</span>

			</a>

			<section class="details">

				<section class="col info">

					{% if post.place %}
					<ul>
						{% for info in post.place %}

						{% if info.last %}
						<li class="note">{{ info }}</li>
						{% else %}
						<li>{{ info }}</li>
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}

					{% if post.eventbrite %}
					<a href="{{ post.eventbrite }}" class="eventbrite social-button">Sign Up</a>
					{% endif %}

					{% if post.facebook %}
					<a href="{{ post.facebook }}" class="facebook social-button">RSVP</a>
					{% endif %}

				</section>

				<section class="col desc">
					{{ post.content }}
				</section>

			</section> <!-- end of .details -->

		</section> <!-- end of .meeting -->

		{% endfor %}

	</article>

</main>
