<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0'  />

	<meta name="description" content="{{ site.description }}">

	<!-- Open Graph details -->
	<meta property='og:title' content='{{ site.title }}'/>	
	<meta property='og:description' content='{{ site.description }}'/>
	<meta property='og:url' content='http://www.uopcs.com'/>
	<meta property='og:site_name' content='{{ site.title }}'/>
	<meta property='og:image' content='img/square-logo.png'/>
	<meta property="og:type" content="website"/>

	<!-- Twitter summary card -->

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.twitter }}">
	<meta name="twitter:creator" content="@{{ site.twitter }}">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image" content="img/square-logo.png">	

	<link rel="shortcut icon" href="img/favicon.ico" />

	<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	
	<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/leaflet.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="css/leaflet.ie.css" /><![endif]-->
	<link rel="stylesheet" href="css/style.css" />

	<title>{{ site.title }}</title>
</head>