<section class="social">
	<div class="social-button-wrapper">
		<a href="https://www.facebook.com/groups/{{ site.facebook }}" class="social-button facebook facebook-svg">Facebook</a>
	</div>
	<div class="social-button-wrapper">
		<a href="https://www.twitter.com/{{ site.twitter }}" class="social-button twitter twitter-svg">Twitter</a>
	</div>
	<div class="social-button-wrapper">
		<a href="https://www.github.com/{{ site.github }}" class="social-button github github-svg">GitHub</a>
	</div>
	<div class="social-button-wrapper join-us">
		<a href="{{ site.signup }}" class="social-button">Join us!</a>
	</div>
</section>